wire-canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  > canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    translate: calc(-1px*var(--x, 0)/var(--scale, 1)) calc(-1px*var(--y, 0)/var(--scale, 1));
    scale: calc(1/var(--scale, 1));
    background: var(--background);
    background-size: calc(var(--scale, 1)*1px);
    background-position: calc(50% + var(--x, 0)*1px) calc(50% + var(--y, 0)*1px);
  }
  > test {
    position: relative;
    display: block;
    background-color: rgb(165, 119, 119);
    --SIZE: calc(sqrt(2)*1px);
    min-height: var(--SIZE);
    min-width: var(--SIZE);
    left: 1px;
    /* rotate: 45deg; */
  }
}