wire-button {
  --SIZE: 18px;
  display: block;
  width: var(--SIZE, 18px);
  height: var(--SIZE, 18px);
  background: #ddd;
  border-radius: 2px;
  outline: 1px grey solid;
  border: 2px white solid;

  &[on] {
    background-color: red;
  }
  &:hover {
    scale: 1.1;
  }
}