.component {
  --rotation: 0deg;

  display: block;
  position: absolute;
  rotate: var(--rotation, 0deg);
  transform-origin: 0 50%;
  translate: calc(var(--x, 0)*1px + 0.5px) calc(var(--y, 0)*1px);
}